:root {
  --clr-primary: #fef3e2;
  --clr-secondary: #fa812f;
  --clr-tertiary: #fab12f;
  --clr-accent: #dd0303;
  --clr-text: black;

  --body-width: 85vw;

  /* 
    Dark Mode
  */

  /* --clr-primary: #213555;
  --clr-secondary: #d8c4b6;
  --clr-tertiary: #3e5879;
  --clr-accent: #f5efe7;
  --clr-text: white; */
}

html {
  background-color: var(--clr-primary);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  color: var(--clr-text);
  /* border: 1px solid red; */
}

@font-face {
  font-family: "Cooper Black Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cooper Black Regular"), url("./COOPBL.woff") format("woff");
}

@font-face {
  font-family: "Cooper Black Light";
  font-style: normal;
  font-weight: normal;
  src: local("Cooper Black Light"),
    url("./Cooper\ BT\ W03\ Light\ It.woff") format("woff");
}

body {
  font-family: "Cooper Black Light";
  text-align: center;
}

section {
  width: var(--body-width);
  padding-top: 7vw;
}

.container {
  width: 100%;
  max-width: var(--body-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
}

h2 {
  font-weight: 100;
  font-size: 2.5vw;
}

h3 {
  font-weight: 100;
  font-size: 2vw;
}

.hero {
  flex-direction: row;
  justify-content: left;
  margin-bottom: 10vw;
}

.face-card {
  flex-direction: row;
  width: 70%;
  justify-content: left;
  align-items: start;
}

.face {
  width: 50%;
  padding: 0px 2vw 0px 0px;
}

.face-image {
  width: 100%;
  border-radius: 35%;
  /* box-shadow: 0.5vw 0.5vw var(--clr-secondary); */
  border: 6px solid var(--clr-secondary);
}

.personal-info {
  height: 100%;
  align-items: start;
  justify-content: start;
}

.socials {
  flex-direction: row;
  justify-content: start;
}

.social-image {
  padding-top: 0.3vw;
  width: 3vw;
}

@keyframes expand-shrink {
  0% {
    width: 16vw;
    top: -8vw;
    right: 4vw;
  }
  50% {
    width: 21.33333vw;
    top: -10.6666666vw;
    right: 1.5vw;
  }
  100% {
    width: 16vw;
    top: -8vw;
    right: 4vw;
  }
}

.big-hero {
  position: relative;
}

.popout-holder {
  width: 30%;
  position: relative;
}

.popout {
  background-color: var(--clr-primary);
  animation-name: expand-shrink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  width: 14vw;
  border: none;
}

.popout:hover {
  animation-play-state: paused;
}

.popout:hover > .popout-text {
  animation-play-state: paused;
}

.popout:active {
  transform: rotate(-10deg);
}

.star {
  width: 100%;
  /* display: inline-block; */
  transform: rotate(25deg);
  background-color: var(--clr-primary);
}

@keyframes expand-shrink-text {
  0% {
    font-size: 1.5vw;
  }
  50% {
    font-size: 2vw;
  }
  100% {
    font-size: 1.5vw;
  }
}

.popout-text {
  animation-name: expand-shrink-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  font-family: "Cooper Black Light";
  text-align: center;
  width: 75%;
  text-transform: uppercase;
  color: var(--clr-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(25deg);
}

.navbar {
  width: 100vw;
  padding: 0px;
  padding-bottom: 7vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -0.4vw;
}

.navbar > * {
  transition: width 0.5s, background-color 0.5s, height 0.5s, opacity 0.5s;
}

.divider {
  background-color: var(--clr-secondary);
  width: var(--body-width);
  height: 0.4vw;
  opacity: 100%;
}

.headers {
  max-width: 100vw;
  width: var(--body-width);
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  width: 15vw;
  padding: 0.5vw;
  position: relative;
}

.hand {
  width: 5vw;
  position: absolute;
  bottom: -5vw;
  left: 6.25vw;
  transform: rotate(270deg);
  /* visibility: hidden; */
  transition: opacity 1.5s;
  opacity: 0%;
}

.hand-clicked {
  transition: none;
  /* visibility: visible; */
  opacity: 100%;
}

.header-text {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3vw;
  color: var(--clr-text);
  text-decoration: none;
  transition: font-size 0.5s, color 0.5s;
}

@keyframes red-black {
  0% {
    color: var(--clr-text);
  }
  50% {
    color: var(--clr-accent);
  }
}

.header-text:hover {
  animation-name: red-black;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.sticking > * {
  max-width: 100vw;
  width: 100vw;
  background-color: var(--clr-secondary);
  position: relative;
  bottom: 1vw;
}

.sticking > .divider {
  opacity: 0%;
  margin-bottom: 1vw;
  /* height: 0vw; */
}

.sticking > * > * > .header-text {
  font-size: 2.5vw;
  color: white;
  animation-name: none;
}

.title {
  font-weight: 900;
  margin-bottom: 2vw;
  font-size: 8vw;
}

.project {
  border: 4px solid var(--clr-secondary);
  margin-bottom: 4vw;
  min-height: 10vw;
  border-radius: 10px;
}
