:root {
  --clr-primary: #fef3e2;
  --clr-secondary: #fa812f;
  --clr-tertiary: #fab12f;
  --clr-accent: #dd0303;
}

html {
  background-color: var(--clr-primary);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

@font-face {
  font-family: "Cooper Black Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cooper Black Regular"), url("./COOPBL.woff") format("woff");
}

@font-face {
  font-family: "Cooper Black Light";
  font-style: normal;
  font-weight: normal;
  src: local("Cooper Black Light"),
    url("./Cooper\ BT\ W03\ Light\ It.woff") format("woff");
}

body {
  font-family: "Cooper Black Light";
}

section {
  width: 70vw;
  padding: 7vh 0;
}

.container {
  width: 100%;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 100;
  text-transform: uppercase;
}

.hero {
  flex-direction: row;
  justify-content: left;
}

.face-card {
  flex-direction: row;
  width: 70%;
  justify-content: left;
  align-items: start;
}

.face {
  width: 50%;
  padding: 0px 30px 0px 0px;
}

.face-image {
  width: 100%;
  border-radius: 100%;
  box-shadow: 5px 5px var(--clr-secondary);
}

.personal-info {
  height: 100%;
  align-items: start;
  justify-content: start;
}

.socials {
  flex-direction: row;
  justify-content: start;
}

.social-image {
  width: 2vw;
}

@keyframes expand-shrink {
  0% {
    width: 12vw;
    top: 4vw;
    right: 4vw;
  }
  50% {
    width: 16vw;
    top: 2vw;
    right: 2vw;
  }
  100% {
    width: 12vw;
    top: 4vw;
    right: 4vw;
  }
}

.big-hero {
  position: relative;
}

.popout {
  background-color: var(--clr-primary);
  animation-name: expand-shrink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* display: inline-block; */
  position: absolute;
  width: 14vw;
  top: 4vw;
  right: 3vw;
}

.popout:hover {
  animation-play-state: paused;
}

.popout:hover > .popout-text {
  animation-play-state: paused;
}

.popout:active {
  transform: rotate(-10deg);
}

.star {
  width: 100%;
  /* display: inline-block; */
  transform: rotate(25deg);
  background-color: var(--clr-primary);
}

@keyframes expand-shrink-text {
  0% {
    font-size: 1.2vw;
  }
  50% {
    font-size: 1.6vw;
  }
  100% {
    font-size: 1.2vw;
  }
}

.popout-text {
  animation-name: expand-shrink-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  font-family: "Cooper Black Light";
  text-align: center;
  width: 75%;
  text-transform: uppercase;
  color: var(--clr-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(25deg);
}
